<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>034236B8-3FA8-43DA-9EDA-EFF269A687EC</key>
		<dict>
			<key>HV</key>
			<integer>95</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<integer>16</integer>
		<key>GSOffsetMakeStroke</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>12</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>034236B8-3FA8-43DA-9EDA-EFF269A687EC</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>knA</string>
		<string>knAA</string>
		<string>knI</string>
		<string>knII</string>
		<string>knU</string>
		<string>knUU</string>
		<string>knvR</string>
		<string>knvRR</string>
		<string>knvL</string>
		<string>knvLL</string>
		<string>knE</string>
		<string>knEE</string>
		<string>knAI</string>
		<string>knO</string>
		<string>knOO</string>
		<string>knAU</string>
		<string>knmAA</string>
		<string>knmI</string>
		<string>knmII</string>
		<string>knmU</string>
		<string>knmUU</string>
		<string>knmvR</string>
		<string>knmvRR</string>
		<string>knmvL</string>
		<string>knmvLL</string>
		<string>knmE</string>
		<string>knmEE</string>
		<string>knmAI</string>
		<string>knmO</string>
		<string>knmOO</string>
		<string>knmAU</string>
		<string>knLengthmark</string>
		<string>knAIlengthmark</string>
		<string>knKA</string>
		<string>knKHA</string>
		<string>knGA</string>
		<string>knGHA</string>
		<string>knNGA</string>
		<string>knCA</string>
		<string>knCHA</string>
		<string>knJA</string>
		<string>knJHA</string>
		<string>knNYA</string>
		<string>knTTA</string>
		<string>knTTHA</string>
		<string>knDDA</string>
		<string>knDDHA</string>
		<string>knNNA</string>
		<string>knTA</string>
		<string>knTHA</string>
		<string>knDA</string>
		<string>knDHA</string>
		<string>knNA</string>
		<string>knPA</string>
		<string>knPHA</string>
		<string>knBA</string>
		<string>knBHA</string>
		<string>knMA</string>
		<string>knYA</string>
		<string>knRA</string>
		<string>knLA</string>
		<string>knVA</string>
		<string>knSHA</string>
		<string>knSSA</string>
		<string>knSA</string>
		<string>knHA</string>
		<string>knRRA</string>
		<string>knLLA</string>
		<string>knLLLA</string>
		<string>knAnusvara</string>
		<string>knCandrabindu</string>
		<string>knVisarga</string>
		<string>knVirama</string>
		<string>knNukta</string>
		<string>knAvagraha</string>
		<string>knZero</string>
		<string>knOne</string>
		<string>knTwo</string>
		<string>knThree</string>
		<string>knFour</string>
		<string>knFive</string>
		<string>knSix</string>
		<string>knSeven</string>
		<string>knEight</string>
		<string>knNine</string>
		<string>.notdef</string>
		<string>NULL</string>
		<string>CR</string>
		<string>space</string>
		<string>indianrupee</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>dottedcircle</string>
		<string>ITF</string>
		<string>knReph</string>
		<string>knKAc2</string>
		<string>knKHAc2</string>
		<string>knGAc2</string>
		<string>knGHAc2</string>
		<string>knNGAc2</string>
		<string>knCAc2</string>
		<string>knCHAc2</string>
		<string>knJAc2</string>
		<string>knJHAc2</string>
		<string>knNYAc2</string>
		<string>knTTAc2</string>
		<string>knTTHAc2</string>
		<string>knDDAc2</string>
		<string>knDDHAc2</string>
		<string>knNNAc2</string>
		<string>knTAc2</string>
		<string>knTHAc2</string>
		<string>knDAc2</string>
		<string>knDHAc2</string>
		<string>knNAc2</string>
		<string>knPAc2</string>
		<string>knPHAc2</string>
		<string>knBAc2</string>
		<string>knBHAc2</string>
		<string>knMAc2</string>
		<string>knYAc2</string>
		<string>knRAc2</string>
		<string>knLAc2</string>
		<string>knVAc2</string>
		<string>knSHAc2</string>
		<string>knSSAc2</string>
		<string>knSAc2</string>
		<string>knHAc2</string>
		<string>knRRAc2</string>
		<string>knLLAc2</string>
		<string>knLLLAc2</string>
		<string>knKSSAc2</string>
		<string>knTAc2_RAc2</string>
		<string>knKAA</string>
		<string>knKHAA</string>
		<string>knGAA</string>
		<string>knGHAA</string>
		<string>knNGAA</string>
		<string>knCAA</string>
		<string>knCHAA</string>
		<string>knJAA</string>
		<string>knJHAA</string>
		<string>knNYAA</string>
		<string>knTTAA</string>
		<string>knTTHAA</string>
		<string>knDDAA</string>
		<string>knDDHAA</string>
		<string>knNNAA</string>
		<string>knTAA</string>
		<string>knTHAA</string>
		<string>knDAA</string>
		<string>knDHAA</string>
		<string>knNAA</string>
		<string>knPAA</string>
		<string>knPHAA</string>
		<string>knBAA</string>
		<string>knBHAA</string>
		<string>knMAA</string>
		<string>knYAA</string>
		<string>knRAA</string>
		<string>knLAA</string>
		<string>knVAA</string>
		<string>knSHAA</string>
		<string>knSSAA</string>
		<string>knSAA</string>
		<string>knHAA</string>
		<string>knRRAA</string>
		<string>knLLAA</string>
		<string>knLLLAA</string>
		<string>knKI</string>
		<string>knKHI</string>
		<string>knGI</string>
		<string>knGHI</string>
		<string>knNGI</string>
		<string>knCI</string>
		<string>knCHI</string>
		<string>knJI</string>
		<string>knJHI</string>
		<string>knNYI</string>
		<string>knTTI</string>
		<string>knTTHI</string>
		<string>knDDI</string>
		<string>knDDHI</string>
		<string>knNNI</string>
		<string>knTI</string>
		<string>knTHI</string>
		<string>knDI</string>
		<string>knDHI</string>
		<string>knNI</string>
		<string>knPI</string>
		<string>knPHI</string>
		<string>knBI</string>
		<string>knBHI</string>
		<string>knMI</string>
		<string>knYI</string>
		<string>knRI</string>
		<string>knLI</string>
		<string>knVI</string>
		<string>knSHI</string>
		<string>knSSI</string>
		<string>knSI</string>
		<string>knHI</string>
		<string>knRRI</string>
		<string>knLLI</string>
		<string>knLLLI</string>
		<string>knKU</string>
		<string>knKHU</string>
		<string>knGU</string>
		<string>knGHU</string>
		<string>knNGU</string>
		<string>knCU</string>
		<string>knCHU</string>
		<string>knJU</string>
		<string>knJHU</string>
		<string>knNYU</string>
		<string>knTTU</string>
		<string>knTTHU</string>
		<string>knDDU</string>
		<string>knDDHU</string>
		<string>knNNU</string>
		<string>knTU</string>
		<string>knTHU</string>
		<string>knDU</string>
		<string>knDHU</string>
		<string>knNU</string>
		<string>knPU</string>
		<string>knPHU</string>
		<string>knBU</string>
		<string>knBHU</string>
		<string>knMU</string>
		<string>knYU</string>
		<string>knRU</string>
		<string>knLU</string>
		<string>knVU</string>
		<string>knSHU</string>
		<string>knSSU</string>
		<string>knSU</string>
		<string>knHU</string>
		<string>knRRU</string>
		<string>knLLU</string>
		<string>knLLLU</string>
		<string>knKUU</string>
		<string>knKHUU</string>
		<string>knGUU</string>
		<string>knGHUU</string>
		<string>knNGUU</string>
		<string>knCUU</string>
		<string>knCHUU</string>
		<string>knJUU</string>
		<string>knJHUU</string>
		<string>knNYUU</string>
		<string>knTTUU</string>
		<string>knTTHUU</string>
		<string>knDDUU</string>
		<string>knDDHUU</string>
		<string>knNNUU</string>
		<string>knTUU</string>
		<string>knTHUU</string>
		<string>knDUU</string>
		<string>knDHUU</string>
		<string>knNUU</string>
		<string>knPUU</string>
		<string>knPHUU</string>
		<string>knBUU</string>
		<string>knBHUU</string>
		<string>knMUU</string>
		<string>knYUU</string>
		<string>knRUU</string>
		<string>knLUU</string>
		<string>knVUU</string>
		<string>knSHUU</string>
		<string>knSSUU</string>
		<string>knSUU</string>
		<string>knHUU</string>
		<string>knRRUU</string>
		<string>knLLUU</string>
		<string>knLLLUU</string>
		<string>knKE</string>
		<string>knKHE</string>
		<string>knGE</string>
		<string>knGHE</string>
		<string>knNGE</string>
		<string>knCE</string>
		<string>knCHE</string>
		<string>knJE</string>
		<string>knJHE</string>
		<string>knNYE</string>
		<string>knTTE</string>
		<string>knTTHE</string>
		<string>knDDE</string>
		<string>knDDHE</string>
		<string>knNNE</string>
		<string>knTE</string>
		<string>knTHE</string>
		<string>knDE</string>
		<string>knDHE</string>
		<string>knNE</string>
		<string>knPE</string>
		<string>knPHE</string>
		<string>knBE</string>
		<string>knBHE</string>
		<string>knME</string>
		<string>knYE</string>
		<string>knRE</string>
		<string>knLE</string>
		<string>knVE</string>
		<string>knSHE</string>
		<string>knSSE</string>
		<string>knSE</string>
		<string>knHE</string>
		<string>knRRE</string>
		<string>knLLE</string>
		<string>knLLLE</string>
		<string>knKO</string>
		<string>knKHO</string>
		<string>knGO</string>
		<string>knGHO</string>
		<string>knNGO</string>
		<string>knCO</string>
		<string>knCHO</string>
		<string>knJO</string>
		<string>knJHO</string>
		<string>knNYO</string>
		<string>knTTO</string>
		<string>knTTHO</string>
		<string>knDDO</string>
		<string>knDDHO</string>
		<string>knNNO</string>
		<string>knTO</string>
		<string>knTHO</string>
		<string>knDO</string>
		<string>knDHO</string>
		<string>knNO</string>
		<string>knPO</string>
		<string>knPHO</string>
		<string>knBO</string>
		<string>knBHO</string>
		<string>knMO</string>
		<string>knYO</string>
		<string>knRO</string>
		<string>knLO</string>
		<string>knVO</string>
		<string>knSHO</string>
		<string>knSSO</string>
		<string>knSO</string>
		<string>knHO</string>
		<string>knRRO</string>
		<string>knLLO</string>
		<string>knLLLO</string>
		<string>knKAU</string>
		<string>knKHAU</string>
		<string>knGAU</string>
		<string>knGHAU</string>
		<string>knNGAU</string>
		<string>knCAU</string>
		<string>knCHAU</string>
		<string>knJAU</string>
		<string>knJHAU</string>
		<string>knNYAU</string>
		<string>knTTAU</string>
		<string>knTTHAU</string>
		<string>knDDAU</string>
		<string>knDDHAU</string>
		<string>knNNAU</string>
		<string>knTAU</string>
		<string>knTHAU</string>
		<string>knDAU</string>
		<string>knDHAU</string>
		<string>knNAU</string>
		<string>knPAU</string>
		<string>knPHAU</string>
		<string>knBAU</string>
		<string>knBHAU</string>
		<string>knMAU</string>
		<string>knYAU</string>
		<string>knRAU</string>
		<string>knLAU</string>
		<string>knVAU</string>
		<string>knSHAU</string>
		<string>knSSAU</string>
		<string>knSAU</string>
		<string>knHAU</string>
		<string>knRRAU</string>
		<string>knLLAU</string>
		<string>knLLLAU</string>
		<string>knK</string>
		<string>knKH</string>
		<string>knG</string>
		<string>knGH</string>
		<string>knNG</string>
		<string>knC</string>
		<string>knCH</string>
		<string>knJ</string>
		<string>knJH</string>
		<string>knNY</string>
		<string>knTT</string>
		<string>knTTH</string>
		<string>knDD</string>
		<string>knDDH</string>
		<string>knNN</string>
		<string>knT</string>
		<string>knTH</string>
		<string>knD</string>
		<string>knDH</string>
		<string>knN</string>
		<string>knP</string>
		<string>knPH</string>
		<string>knB</string>
		<string>knBH</string>
		<string>knM</string>
		<string>knY</string>
		<string>knR</string>
		<string>knL</string>
		<string>knV</string>
		<string>knSH</string>
		<string>knSS</string>
		<string>knS</string>
		<string>knH</string>
		<string>knRR</string>
		<string>knLL</string>
		<string>knLLL</string>
		<string>knKA.base</string>
		<string>knKHA.base</string>
		<string>knGA.base</string>
		<string>knGHA.base</string>
		<string>knNGA.base</string>
		<string>knCA.base</string>
		<string>knCHA.base</string>
		<string>knJA.base</string>
		<string>knJHA.base</string>
		<string>knNYA.base</string>
		<string>knTTA.base</string>
		<string>knTTHA.base</string>
		<string>knDDA.base</string>
		<string>knDDHA.base</string>
		<string>knNNA.base</string>
		<string>knTA.base</string>
		<string>knTHA.base</string>
		<string>knDA.base</string>
		<string>knDHA.base</string>
		<string>knNA.base</string>
		<string>knPA.base</string>
		<string>knPHA.base</string>
		<string>knBA.base</string>
		<string>knBHA.base</string>
		<string>knMA.base</string>
		<string>knYA.base</string>
		<string>knRA.base</string>
		<string>knLA.base</string>
		<string>knVA.base</string>
		<string>knSHA.base</string>
		<string>knSSA.base</string>
		<string>knSA.base</string>
		<string>knHA.base</string>
		<string>knRRA.base</string>
		<string>knLLA.base</string>
		<string>knLLLA.base</string>
		<string>knSSAc2.kssa</string>
		<string>knmvR.following</string>
		<string>knmvRR.following</string>
		<string>knAIlengthmark.following</string>
		<string>knKAc2.following</string>
		<string>knKHAc2.following</string>
		<string>knGAc2.following</string>
		<string>knGHAc2.following</string>
		<string>knNGAc2.following</string>
		<string>knCAc2.following</string>
		<string>knCHAc2.following</string>
		<string>knJAc2.following</string>
		<string>knJHAc2.following</string>
		<string>knNYAc2.following</string>
		<string>knTTAc2.following</string>
		<string>knTTHAc2.following</string>
		<string>knDDAc2.following</string>
		<string>knDDHAc2.following</string>
		<string>knNNAc2.following</string>
		<string>knTAc2.following</string>
		<string>knTHAc2.following</string>
		<string>knDAc2.following</string>
		<string>knDHAc2.following</string>
		<string>knNAc2.following</string>
		<string>knPAc2.following</string>
		<string>knPHAc2.following</string>
		<string>knBAc2.following</string>
		<string>knBHAc2.following</string>
		<string>knMAc2.following</string>
		<string>knYAc2.following</string>
		<string>knRAc2.following</string>
		<string>knLAc2.following</string>
		<string>knVAc2.following</string>
		<string>knSHAc2.following</string>
		<string>knSSAc2.following</string>
		<string>knSAc2.following</string>
		<string>knHAc2.following</string>
		<string>knRRAc2.following</string>
		<string>knLLAc2.following</string>
		<string>knLLLAc2.following</string>
		<string>knKSSAc2.following</string>
		<string>knTAc2_RAc2.following</string>
	</array>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>400</integer>
	<key>com.typemytype.robofont.guides</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>71</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>434</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>459</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>isGlobal</key>
			<true/>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>509</integer>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>knA</string>
		<string>knAA</string>
		<string>knI</string>
		<string>knII</string>
		<string>knU</string>
		<string>knUU</string>
		<string>knvR</string>
		<string>knvRR</string>
		<string>knvL</string>
		<string>knvLL</string>
		<string>knE</string>
		<string>knEE</string>
		<string>knAI</string>
		<string>knO</string>
		<string>knOO</string>
		<string>knAU</string>
		<string>knmAA</string>
		<string>knmI</string>
		<string>knmII</string>
		<string>knmU</string>
		<string>knmUU</string>
		<string>knmvR</string>
		<string>knmvRR</string>
		<string>knmvL</string>
		<string>knmvLL</string>
		<string>knmE</string>
		<string>knmEE</string>
		<string>knmAI</string>
		<string>knmO</string>
		<string>knmOO</string>
		<string>knmAU</string>
		<string>knLengthmark</string>
		<string>knAIlengthmark</string>
		<string>knKA</string>
		<string>knKHA</string>
		<string>knGA</string>
		<string>knGHA</string>
		<string>knNGA</string>
		<string>knCA</string>
		<string>knCHA</string>
		<string>knJA</string>
		<string>knJHA</string>
		<string>knNYA</string>
		<string>knTTA</string>
		<string>knTTHA</string>
		<string>knDDA</string>
		<string>knDDHA</string>
		<string>knNNA</string>
		<string>knTA</string>
		<string>knTHA</string>
		<string>knDA</string>
		<string>knDHA</string>
		<string>knNA</string>
		<string>knPA</string>
		<string>knPHA</string>
		<string>knBA</string>
		<string>knBHA</string>
		<string>knMA</string>
		<string>knYA</string>
		<string>knRA</string>
		<string>knLA</string>
		<string>knVA</string>
		<string>knSHA</string>
		<string>knSSA</string>
		<string>knSA</string>
		<string>knHA</string>
		<string>knRRA</string>
		<string>knLLA</string>
		<string>knLLLA</string>
		<string>knAnusvara</string>
		<string>knCandrabindu</string>
		<string>knVisarga</string>
		<string>knVirama</string>
		<string>knNukta</string>
		<string>knAvagraha</string>
		<string>knZero</string>
		<string>knOne</string>
		<string>knTwo</string>
		<string>knThree</string>
		<string>knFour</string>
		<string>knFive</string>
		<string>knSix</string>
		<string>knSeven</string>
		<string>knEight</string>
		<string>knNine</string>
		<string>.notdef</string>
		<string>space</string>
		<string>indianrupee</string>
		<string>zerowidthnonjoiner</string>
		<string>zerowidthjoiner</string>
		<string>dottedcircle</string>
		<string>knReph</string>
		<string>knKAc2</string>
		<string>knKHAc2</string>
		<string>knGAc2</string>
		<string>knGHAc2</string>
		<string>knNGAc2</string>
		<string>knCAc2</string>
		<string>knCHAc2</string>
		<string>knJAc2</string>
		<string>knJHAc2</string>
		<string>knNYAc2</string>
		<string>knTTAc2</string>
		<string>knTTHAc2</string>
		<string>knDDAc2</string>
		<string>knDDHAc2</string>
		<string>knNNAc2</string>
		<string>knTAc2</string>
		<string>knTHAc2</string>
		<string>knDAc2</string>
		<string>knDHAc2</string>
		<string>knNAc2</string>
		<string>knPAc2</string>
		<string>knPHAc2</string>
		<string>knBAc2</string>
		<string>knBHAc2</string>
		<string>knMAc2</string>
		<string>knYAc2</string>
		<string>knRAc2</string>
		<string>knLAc2</string>
		<string>knVAc2</string>
		<string>knSHAc2</string>
		<string>knSSAc2</string>
		<string>knSAc2</string>
		<string>knHAc2</string>
		<string>knRRAc2</string>
		<string>knLLAc2</string>
		<string>knLLLAc2</string>
		<string>knKSSAc2</string>
		<string>knTAc2_RAc2</string>
		<string>knKAA</string>
		<string>knKHAA</string>
		<string>knGAA</string>
		<string>knGHAA</string>
		<string>knNGAA</string>
		<string>knCAA</string>
		<string>knCHAA</string>
		<string>knJAA</string>
		<string>knJHAA</string>
		<string>knNYAA</string>
		<string>knTTAA</string>
		<string>knTTHAA</string>
		<string>knDDAA</string>
		<string>knDDHAA</string>
		<string>knNNAA</string>
		<string>knTAA</string>
		<string>knTHAA</string>
		<string>knDAA</string>
		<string>knDHAA</string>
		<string>knNAA</string>
		<string>knPAA</string>
		<string>knPHAA</string>
		<string>knBAA</string>
		<string>knBHAA</string>
		<string>knMAA</string>
		<string>knYAA</string>
		<string>knRAA</string>
		<string>knLAA</string>
		<string>knVAA</string>
		<string>knSHAA</string>
		<string>knSSAA</string>
		<string>knSAA</string>
		<string>knHAA</string>
		<string>knRRAA</string>
		<string>knLLAA</string>
		<string>knLLLAA</string>
		<string>knKI</string>
		<string>knKHI</string>
		<string>knGI</string>
		<string>knGHI</string>
		<string>knNGI</string>
		<string>knCI</string>
		<string>knCHI</string>
		<string>knJI</string>
		<string>knJHI</string>
		<string>knNYI</string>
		<string>knTTI</string>
		<string>knTTHI</string>
		<string>knDDI</string>
		<string>knDDHI</string>
		<string>knNNI</string>
		<string>knTI</string>
		<string>knTHI</string>
		<string>knDI</string>
		<string>knDHI</string>
		<string>knNI</string>
		<string>knPI</string>
		<string>knPHI</string>
		<string>knBI</string>
		<string>knBHI</string>
		<string>knMI</string>
		<string>knYI</string>
		<string>knRI</string>
		<string>knLI</string>
		<string>knVI</string>
		<string>knSHI</string>
		<string>knSSI</string>
		<string>knSI</string>
		<string>knHI</string>
		<string>knRRI</string>
		<string>knLLI</string>
		<string>knLLLI</string>
		<string>knKU</string>
		<string>knKHU</string>
		<string>knGU</string>
		<string>knGHU</string>
		<string>knNGU</string>
		<string>knCU</string>
		<string>knCHU</string>
		<string>knJU</string>
		<string>knJHU</string>
		<string>knNYU</string>
		<string>knTTU</string>
		<string>knTTHU</string>
		<string>knDDU</string>
		<string>knDDHU</string>
		<string>knNNU</string>
		<string>knTU</string>
		<string>knTHU</string>
		<string>knDU</string>
		<string>knDHU</string>
		<string>knNU</string>
		<string>knPU</string>
		<string>knPHU</string>
		<string>knBU</string>
		<string>knBHU</string>
		<string>knMU</string>
		<string>knYU</string>
		<string>knRU</string>
		<string>knLU</string>
		<string>knVU</string>
		<string>knSHU</string>
		<string>knSSU</string>
		<string>knSU</string>
		<string>knHU</string>
		<string>knRRU</string>
		<string>knLLU</string>
		<string>knLLLU</string>
		<string>knKUU</string>
		<string>knKHUU</string>
		<string>knGUU</string>
		<string>knGHUU</string>
		<string>knNGUU</string>
		<string>knCUU</string>
		<string>knCHUU</string>
		<string>knJUU</string>
		<string>knJHUU</string>
		<string>knNYUU</string>
		<string>knTTUU</string>
		<string>knTTHUU</string>
		<string>knDDUU</string>
		<string>knDDHUU</string>
		<string>knNNUU</string>
		<string>knTUU</string>
		<string>knTHUU</string>
		<string>knDUU</string>
		<string>knDHUU</string>
		<string>knNUU</string>
		<string>knPUU</string>
		<string>knPHUU</string>
		<string>knBUU</string>
		<string>knBHUU</string>
		<string>knMUU</string>
		<string>knYUU</string>
		<string>knRUU</string>
		<string>knLUU</string>
		<string>knVUU</string>
		<string>knSHUU</string>
		<string>knSSUU</string>
		<string>knSUU</string>
		<string>knHUU</string>
		<string>knRRUU</string>
		<string>knLLUU</string>
		<string>knLLLUU</string>
		<string>knKE</string>
		<string>knKHE</string>
		<string>knGE</string>
		<string>knGHE</string>
		<string>knNGE</string>
		<string>knCE</string>
		<string>knCHE</string>
		<string>knJE</string>
		<string>knJHE</string>
		<string>knNYE</string>
		<string>knTTE</string>
		<string>knTTHE</string>
		<string>knDDE</string>
		<string>knDDHE</string>
		<string>knNNE</string>
		<string>knTE</string>
		<string>knTHE</string>
		<string>knDE</string>
		<string>knDHE</string>
		<string>knNE</string>
		<string>knPE</string>
		<string>knPHE</string>
		<string>knBE</string>
		<string>knBHE</string>
		<string>knME</string>
		<string>knYE</string>
		<string>knRE</string>
		<string>knLE</string>
		<string>knVE</string>
		<string>knSHE</string>
		<string>knSSE</string>
		<string>knSE</string>
		<string>knHE</string>
		<string>knRRE</string>
		<string>knLLE</string>
		<string>knLLLE</string>
		<string>knKO</string>
		<string>knKHO</string>
		<string>knGO</string>
		<string>knGHO</string>
		<string>knNGO</string>
		<string>knCO</string>
		<string>knCHO</string>
		<string>knJO</string>
		<string>knJHO</string>
		<string>knNYO</string>
		<string>knTTO</string>
		<string>knTTHO</string>
		<string>knDDO</string>
		<string>knDDHO</string>
		<string>knNNO</string>
		<string>knTO</string>
		<string>knTHO</string>
		<string>knDO</string>
		<string>knDHO</string>
		<string>knNO</string>
		<string>knPO</string>
		<string>knPHO</string>
		<string>knBO</string>
		<string>knBHO</string>
		<string>knMO</string>
		<string>knYO</string>
		<string>knRO</string>
		<string>knLO</string>
		<string>knVO</string>
		<string>knSHO</string>
		<string>knSSO</string>
		<string>knSO</string>
		<string>knHO</string>
		<string>knRRO</string>
		<string>knLLO</string>
		<string>knLLLO</string>
		<string>knKAU</string>
		<string>knKHAU</string>
		<string>knGAU</string>
		<string>knGHAU</string>
		<string>knNGAU</string>
		<string>knCAU</string>
		<string>knCHAU</string>
		<string>knJAU</string>
		<string>knJHAU</string>
		<string>knNYAU</string>
		<string>knTTAU</string>
		<string>knTTHAU</string>
		<string>knDDAU</string>
		<string>knDDHAU</string>
		<string>knNNAU</string>
		<string>knTAU</string>
		<string>knTHAU</string>
		<string>knDAU</string>
		<string>knDHAU</string>
		<string>knNAU</string>
		<string>knPAU</string>
		<string>knPHAU</string>
		<string>knBAU</string>
		<string>knBHAU</string>
		<string>knMAU</string>
		<string>knYAU</string>
		<string>knRAU</string>
		<string>knLAU</string>
		<string>knVAU</string>
		<string>knSHAU</string>
		<string>knSSAU</string>
		<string>knSAU</string>
		<string>knHAU</string>
		<string>knRRAU</string>
		<string>knLLAU</string>
		<string>knLLLAU</string>
		<string>knK</string>
		<string>knKH</string>
		<string>knG</string>
		<string>knGH</string>
		<string>knNG</string>
		<string>knC</string>
		<string>knCH</string>
		<string>knJ</string>
		<string>knJH</string>
		<string>knNY</string>
		<string>knTT</string>
		<string>knTTH</string>
		<string>knDD</string>
		<string>knDDH</string>
		<string>knNN</string>
		<string>knT</string>
		<string>knTH</string>
		<string>knD</string>
		<string>knDH</string>
		<string>knN</string>
		<string>knP</string>
		<string>knPH</string>
		<string>knB</string>
		<string>knBH</string>
		<string>knM</string>
		<string>knY</string>
		<string>knR</string>
		<string>knL</string>
		<string>knV</string>
		<string>knSH</string>
		<string>knSS</string>
		<string>knS</string>
		<string>knH</string>
		<string>knRR</string>
		<string>knLL</string>
		<string>knLLL</string>
		<string>knKA.base</string>
		<string>knKHA.base</string>
		<string>knGA.base</string>
		<string>knGHA.base</string>
		<string>knNGA.base</string>
		<string>knCA.base</string>
		<string>knCHA.base</string>
		<string>knJA.base</string>
		<string>knJHA.base</string>
		<string>knNYA.base</string>
		<string>knTTA.base</string>
		<string>knTTHA.base</string>
		<string>knDDA.base</string>
		<string>knDDHA.base</string>
		<string>knNNA.base</string>
		<string>knTA.base</string>
		<string>knTHA.base</string>
		<string>knDA.base</string>
		<string>knDHA.base</string>
		<string>knNA.base</string>
		<string>knPA.base</string>
		<string>knPHA.base</string>
		<string>knBA.base</string>
		<string>knBHA.base</string>
		<string>knMA.base</string>
		<string>knYA.base</string>
		<string>knRA.base</string>
		<string>knLA.base</string>
		<string>knVA.base</string>
		<string>knSHA.base</string>
		<string>knSSA.base</string>
		<string>knSA.base</string>
		<string>knHA.base</string>
		<string>knRRA.base</string>
		<string>knLLA.base</string>
		<string>knLLLA.base</string>
		<string>knSSAc2.kssa</string>
		<string>knmvR.following</string>
		<string>knmvRR.following</string>
		<string>knAIlengthmark.following</string>
		<string>knKAc2.following</string>
		<string>knKHAc2.following</string>
		<string>knGAc2.following</string>
		<string>knGHAc2.following</string>
		<string>knNGAc2.following</string>
		<string>knCAc2.following</string>
		<string>knCHAc2.following</string>
		<string>knJAc2.following</string>
		<string>knJHAc2.following</string>
		<string>knNYAc2.following</string>
		<string>knTTAc2.following</string>
		<string>knTTHAc2.following</string>
		<string>knDDAc2.following</string>
		<string>knDDHAc2.following</string>
		<string>knNNAc2.following</string>
		<string>knTAc2.following</string>
		<string>knTHAc2.following</string>
		<string>knDAc2.following</string>
		<string>knDHAc2.following</string>
		<string>knNAc2.following</string>
		<string>knPAc2.following</string>
		<string>knPHAc2.following</string>
		<string>knBAc2.following</string>
		<string>knBHAc2.following</string>
		<string>knMAc2.following</string>
		<string>knYAc2.following</string>
		<string>knRAc2.following</string>
		<string>knLAc2.following</string>
		<string>knVAc2.following</string>
		<string>knSHAc2.following</string>
		<string>knSSAc2.following</string>
		<string>knSAc2.following</string>
		<string>knHAc2.following</string>
		<string>knRRAc2.following</string>
		<string>knLLAc2.following</string>
		<string>knLLLAc2.following</string>
		<string>knKSSAc2.following</string>
		<string>knTAc2_RAc2.following</string>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>knJihvamuliya</string>
		<string>knUpadhmaniya</string>
		<string>knKA.001</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>onedotenleader</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>twodotenleader</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>uni2010</string>
		<string>uni2011</string>
		<string>uni2015</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>anoteleia</string>
		<string>uni037E</string>
		<string>nonbreakingspace</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>florin</string>
		<string>ruble</string>
		<string>sterling</string>
		<string>uni20A8</string>
		<string>uni20B9</string>
		<string>yen</string>
		<string>dollar.ordn</string>
		<string>dollar.sinf</string>
		<string>dollar.subs</string>
		<string>Euro.tablining</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>dotmath</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>similar</string>
		<string>summation</string>
		<string>uni00B5</string>
		<string>uni207A</string>
		<string>uni207B</string>
		<string>uni207C</string>
		<string>uni208A</string>
		<string>uni208B</string>
		<string>uni208C</string>
		<string>uni2126</string>
		<string>uni2127</string>
		<string>uni2213</string>
		<string>uni2223</string>
		<string>uni2224</string>
		<string>uni2225</string>
		<string>uni2226</string>
		<string>uni2236</string>
		<string>uni2241</string>
		<string>uni226A</string>
		<string>uni226B</string>
		<string>uni226E</string>
		<string>uni226F</string>
		<string>uni22EF</string>
		<string>uni2A74</string>
		<string>uni2A75</string>
		<string>uni2A76</string>
		<string>asciitilde.ordn</string>
		<string>equal.ordn</string>
		<string>greater.ordn</string>
		<string>less.ordn</string>
		<string>percent.ordn</string>
		<string>plus.ordn</string>
		<string>asciitilde.sinf</string>
		<string>equal.sinf</string>
		<string>greater.sinf</string>
		<string>less.sinf</string>
		<string>percent.sinf</string>
		<string>plus.sinf</string>
		<string>asciitilde.subs</string>
		<string>equal.subs</string>
		<string>greater.subs</string>
		<string>less.subs</string>
		<string>percent.subs</string>
		<string>plus.subs</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>openbullet</string>
		<string>lozenge</string>
		<string>uni261C</string>
		<string>uni261E</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>afii61248</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>afii61289</string>
		<string>afii61352</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>eye</string>
		<string>minute</string>
		<string>uni249C</string>
		<string>uni249D</string>
		<string>uni249E</string>
		<string>uni249F</string>
		<string>uni24A0</string>
		<string>uni24A1</string>
		<string>uni24A2</string>
		<string>uni24A3</string>
		<string>uni24A4</string>
		<string>uni24A5</string>
		<string>uni24A6</string>
		<string>uni24A7</string>
		<string>uni24A8</string>
		<string>uni24A9</string>
		<string>uni24AA</string>
		<string>uni24AB</string>
		<string>uni24AC</string>
		<string>uni24AD</string>
		<string>uni24AE</string>
		<string>uni24AF</string>
		<string>uni24B0</string>
		<string>uni24B1</string>
		<string>uni24B2</string>
		<string>uni24B3</string>
		<string>uni24B4</string>
		<string>uni24B5</string>
		<string>seat</string>
		<string>second</string>
		<string>uni2100</string>
		<string>uni2101</string>
		<string>uni2106</string>
		<string>uni2120</string>
		<string>uni2303</string>
		<string>at.01</string>
		<string>bar.ordn</string>
		<string>brokenbar.ordn</string>
		<string>at.ordn</string>
		<string>ampersand.ordn</string>
		<string>paragraph.ordn</string>
		<string>section.ordn</string>
		<string>asciicircum.ordn</string>
		<string>dagger.ordn</string>
		<string>daggerdbl.ordn</string>
		<string>bar.sinf</string>
		<string>brokenbar.sinf</string>
		<string>at.sinf</string>
		<string>ampersand.sinf</string>
		<string>paragraph.sinf</string>
		<string>section.sinf</string>
		<string>asciicircum.sinf</string>
		<string>dagger.sinf</string>
		<string>daggerdbl.sinf</string>
		<string>bar.subs</string>
		<string>brokenbar.subs</string>
		<string>at.subs</string>
		<string>ampersand.subs</string>
		<string>paragraph.subs</string>
		<string>section.subs</string>
		<string>asciicircum.subs</string>
		<string>dagger.subs</string>
		<string>daggerdbl.subs</string>
		<string>uni02C4</string>
		<string>uni02DE</string>
		<string>uni02F7</string>
		<string>bar.sc</string>
		<string>brokenbar.sc</string>
		<string>at.sc</string>
		<string>ampersand.sc</string>
		<string>paragraph.sc</string>
		<string>copyright.sc</string>
		<string>registered.sc</string>
		<string>section.sc</string>
		<string>degree.sc</string>
		<string>asciicircum.sc</string>
		<string>asciitilde.sc</string>
		<string>cent.sc</string>
		<string>currency.sc</string>
		<string>divide.sc</string>
		<string>dollar.sc</string>
		<string>equal.sc</string>
		<string>greater.sc</string>
		<string>less.sc</string>
		<string>logicalnot.sc</string>
		<string>multiply.sc</string>
		<string>percent.sc</string>
		<string>plus.sc</string>
		<string>plusminus.sc</string>
		<string>sterling.sc</string>
		<string>yen.sc</string>
		<string>bar.sups</string>
		<string>brokenbar.sups</string>
		<string>at.sups</string>
		<string>ampersand.sups</string>
		<string>paragraph.sups</string>
		<string>section.sups</string>
		<string>asciicircum.sups</string>
		<string>asciitilde.sups</string>
		<string>dagger.sups</string>
		<string>daggerdbl.sups</string>
		<string>dollar.sups</string>
		<string>equal.sups</string>
		<string>greater.sups</string>
		<string>less.sups</string>
		<string>percent.sups</string>
		<string>plus.sups</string>
		<string>uni0374</string>
		<string>macronmod</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>kaNYU</string>
		<string>turkishlira</string>
		<string>lip</string>
		<string>crossbar</string>
		<string>bum</string>
		<string>wing</string>
		<string>swan</string>
		<string>drop</string>
		<string>hook</string>
		<string>arch</string>
		<string>pair</string>
		<string>dot</string>
		<string>thing</string>
		<string>virama</string>
	</array>
</dict>
</plist>
