<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_knKAc2</key>
	<array>
		<string>knKAc2</string>
		<string>knKHAc2</string>
		<string>knGHAc2</string>
	</array>
	<key>@MMK_L_knKHA</key>
	<array>
		<string>knKHA</string>
	</array>
	<key>@MMK_L_knNGAc2</key>
	<array>
		<string>knNGAc2</string>
		<string>knCAc2</string>
		<string>knCHAc2</string>
		<string>knJAc2</string>
		<string>knJHAc2</string>
	</array>
	<key>@MMK_R_knBA</key>
	<array>
		<string>knNGA</string>
		<string>knCA</string>
		<string>knJA</string>
		<string>knBA</string>
		<string>knBHA</string>
	</array>
	<key>@MMK_R_knE</key>
	<array>
		<string>knE</string>
		<string>knEE</string>
	</array>
	<key>@MMK_R_knKAc2</key>
	<array>
		<string>knKAc2</string>
		<string>knKHAc2</string>
		<string>knGHAc2</string>
		<string>knCHAc2</string>
	</array>
	<key>@MMK_R_knKHA</key>
	<array>
		<string>knKHA</string>
	</array>
	<key>@MMK_R_knvLL</key>
	<array>
		<string>knvL</string>
		<string>knvLL</string>
	</array>
</dict>
</plist>
