<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_knKAc2</key>
	<dict>
		<key>knDA</key>
		<integer>-180</integer>
		<key>knGA</key>
		<integer>20</integer>
		<key>knGAc2.following</key>
		<integer>120</integer>
		<key>knSSAc2.kssa</key>
		<integer>1000</integer>
	</dict>
	<key>@MMK_L_knKHA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>0</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knNA</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-10</integer>
		<key>knSA</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_knNGAc2</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>knGA</key>
		<integer>30</integer>
		<key>knSSAc2.kssa</key>
		<integer>0</integer>
	</dict>
	<key>knA</key>
	<dict>
		<key>@MMK_R_knE</key>
		<integer>0</integer>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knEE</key>
		<integer>-10</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knI</key>
		<integer>-10</integer>
		<key>knII</key>
		<integer>-10</integer>
		<key>knLLA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>0</integer>
		<key>knSA</key>
		<integer>-20</integer>
		<key>knSHA</key>
		<integer>-10</integer>
		<key>knTA</key>
		<integer>-10</integer>
		<key>knvR</key>
		<integer>-10</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
	</dict>
	<key>knAA</key>
	<dict>
		<key>quotedbl</key>
		<integer>-50</integer>
	</dict>
	<key>knAI</key>
	<dict>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knAIlengthmark</key>
	<dict>
		<key>knReph</key>
		<integer>-40</integer>
	</dict>
	<key>knAU</key>
	<dict>
		<key>knReph</key>
		<integer>-30</integer>
	</dict>
	<key>knBAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knBHAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knCA</key>
	<dict>
		<key>knReph</key>
		<integer>-10</integer>
	</dict>
	<key>knCHA</key>
	<dict>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knDA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knHA</key>
		<integer>-10</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knLLA</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-10</integer>
		<key>knPHAc2</key>
		<integer>-60</integer>
		<key>knSA</key>
		<integer>-10</integer>
		<key>knvR</key>
		<integer>0</integer>
	</dict>
	<key>knDDA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-20</integer>
		<key>knvL</key>
		<integer>-20</integer>
	</dict>
	<key>knDDHA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-20</integer>
		<key>knNYA</key>
		<integer>-20</integer>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knDHA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
	</dict>
	<key>knE</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knEE</key>
	<dict>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knEight</key>
	<dict>
		<key>knEight</key>
		<integer>-10</integer>
		<key>knNine</key>
		<integer>-10</integer>
		<key>knThree</key>
		<integer>-10</integer>
		<key>knTwo</key>
		<integer>-30</integer>
		<key>knZero</key>
		<integer>0</integer>
	</dict>
	<key>knFive</key>
	<dict>
		<key>knEight</key>
		<integer>-10</integer>
		<key>knSeven</key>
		<integer>-30</integer>
		<key>knSix</key>
		<integer>-10</integer>
		<key>knThree</key>
		<integer>-20</integer>
		<key>knTwo</key>
		<integer>-40</integer>
	</dict>
	<key>knFour</key>
	<dict>
		<key>knSeven</key>
		<integer>-40</integer>
		<key>knSix</key>
		<integer>-10</integer>
		<key>knThree</key>
		<integer>-30</integer>
		<key>knTwo</key>
		<integer>-60</integer>
	</dict>
	<key>knGA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>@MMK_R_knKAc2</key>
		<integer>20</integer>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knA</key>
		<integer>-10</integer>
		<key>knAnusvara</key>
		<integer>-20</integer>
		<key>knHA</key>
		<integer>-10</integer>
		<key>knII</key>
		<integer>-20</integer>
		<key>knKA</key>
		<integer>-20</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knLLA</key>
		<integer>-10</integer>
		<key>knLLLA</key>
		<integer>-10</integer>
		<key>knMA</key>
		<integer>-10</integer>
		<key>knNA</key>
		<integer>-10</integer>
		<key>knRRA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-30</integer>
		<key>knSA</key>
		<integer>-20</integer>
		<key>knU</key>
		<integer>-10</integer>
		<key>knUU</key>
		<integer>-10</integer>
		<key>knvL</key>
		<integer>-30</integer>
	</dict>
	<key>knGAc2</key>
	<dict>
		<key>knGAc2.following</key>
		<integer>230</integer>
	</dict>
	<key>knGAc2.following</key>
	<dict>
		<key>knDA</key>
		<integer>-100</integer>
	</dict>
	<key>knGHA</key>
	<dict>
		<key>@MMK_R_knKAc2</key>
		<integer>-40</integer>
		<key>knBAc2</key>
		<integer>-40</integer>
		<key>knBHAc2</key>
		<integer>-40</integer>
		<key>knDA</key>
		<integer>-10</integer>
		<key>knHA</key>
		<integer>-10</integer>
		<key>knHAc2</key>
		<integer>0</integer>
		<key>knKSSAc2</key>
		<integer>-30</integer>
		<key>knLLAc2</key>
		<integer>-60</integer>
		<key>knMAc2</key>
		<integer>-30</integer>
		<key>knNAc2</key>
		<integer>-40</integer>
		<key>knPAc2</key>
		<integer>-40</integer>
		<key>knPHAc2</key>
		<integer>-60</integer>
		<key>knRAc2</key>
		<integer>0</integer>
		<key>knReph</key>
		<integer>0</integer>
		<key>knSAc2</key>
		<integer>-50</integer>
		<key>knSHAc2</key>
		<integer>-40</integer>
		<key>knSSAc2</key>
		<integer>-50</integer>
		<key>knTTAc2</key>
		<integer>-50</integer>
		<key>knYAc2</key>
		<integer>-50</integer>
		<key>knmAI</key>
		<integer>-120</integer>
		<key>knmE</key>
		<integer>-120</integer>
		<key>knmEE</key>
		<integer>-120</integer>
		<key>knmO</key>
		<integer>-120</integer>
		<key>knmOO</key>
		<integer>-120</integer>
	</dict>
	<key>knHA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knA</key>
		<integer>-10</integer>
	</dict>
	<key>knI</key>
	<dict>
		<key>quotedbl</key>
		<integer>-50</integer>
	</dict>
	<key>knII</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
	</dict>
	<key>knJA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-40</integer>
		<key>knA</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-50</integer>
		<key>knReph</key>
		<integer>-30</integer>
	</dict>
	<key>knJHA</key>
	<dict>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knKA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>knA</key>
		<integer>-10</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knHA</key>
		<integer>-10</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knLLA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>0</integer>
		<key>knSA</key>
		<integer>-20</integer>
		<key>knSHA</key>
		<integer>-10</integer>
		<key>knSSA</key>
		<integer>-10</integer>
		<key>knVA</key>
		<integer>-20</integer>
		<key>knmAI</key>
		<integer>-20</integer>
		<key>knmvR</key>
		<integer>-20</integer>
	</dict>
	<key>knKHAc2.following</key>
	<dict>
		<key>knDA</key>
		<integer>-220</integer>
	</dict>
	<key>knKUU</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>10</integer>
	</dict>
	<key>knLLA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>@MMK_R_knKHA</key>
		<integer>-40</integer>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knCHA</key>
		<integer>-10</integer>
		<key>knDA</key>
		<integer>0</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knGHA</key>
		<integer>-10</integer>
		<key>knHA</key>
		<integer>-10</integer>
		<key>knJHA</key>
		<integer>0</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knNA</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-10</integer>
		<key>knPA</key>
		<integer>-10</integer>
		<key>knPHA</key>
		<integer>-10</integer>
		<key>knSA</key>
		<integer>-20</integer>
		<key>knSHA</key>
		<integer>-10</integer>
		<key>knSSA</key>
		<integer>-10</integer>
		<key>knTA</key>
		<integer>-10</integer>
		<key>knTTA</key>
		<integer>-10</integer>
	</dict>
	<key>knMAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knNA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
	</dict>
	<key>knNGA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-30</integer>
	</dict>
	<key>knNNA</key>
	<dict>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knNYA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>20</integer>
		<key>@MMK_R_knE</key>
		<integer>-70</integer>
		<key>@MMK_R_knKHA</key>
		<integer>-50</integer>
		<key>@MMK_R_knvLL</key>
		<integer>0</integer>
		<key>knDA</key>
		<integer>0</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knGHA</key>
		<integer>-10</integer>
		<key>knHA</key>
		<integer>-10</integer>
		<key>knLLA</key>
		<integer>20</integer>
		<key>knRA</key>
		<integer>0</integer>
		<key>knSA</key>
		<integer>-20</integer>
		<key>knSHA</key>
		<integer>-20</integer>
	</dict>
	<key>knNine</key>
	<dict>
		<key>knEight</key>
		<integer>-30</integer>
		<key>knFive</key>
		<integer>-20</integer>
		<key>knFour</key>
		<integer>-20</integer>
		<key>knNine</key>
		<integer>-30</integer>
		<key>knOne</key>
		<integer>-30</integer>
		<key>knSeven</key>
		<integer>-40</integer>
		<key>knSix</key>
		<integer>-30</integer>
		<key>knThree</key>
		<integer>-40</integer>
		<key>knTwo</key>
		<integer>-70</integer>
		<key>knZero</key>
		<integer>-30</integer>
	</dict>
	<key>knO</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>@MMK_R_knvLL</key>
		<integer>-60</integer>
		<key>knI</key>
		<integer>-60</integer>
		<key>knII</key>
		<integer>-20</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knLLA</key>
		<integer>-20</integer>
		<key>knLLLA</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-60</integer>
		<key>knReph</key>
		<integer>-40</integer>
		<key>knTTA</key>
		<integer>0</integer>
		<key>knU</key>
		<integer>-20</integer>
		<key>knUU</key>
		<integer>-20</integer>
		<key>knvR</key>
		<integer>0</integer>
	</dict>
	<key>knOO</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-50</integer>
		<key>knA</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-70</integer>
		<key>knReph</key>
		<integer>-40</integer>
		<key>knU</key>
		<integer>-30</integer>
	</dict>
	<key>knOne</key>
	<dict>
		<key>knEight</key>
		<integer>0</integer>
		<key>knFour</key>
		<integer>-10</integer>
		<key>knNine</key>
		<integer>-20</integer>
		<key>knSeven</key>
		<integer>-20</integer>
		<key>knThree</key>
		<integer>0</integer>
		<key>knTwo</key>
		<integer>-20</integer>
	</dict>
	<key>knPAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knPHAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knRA</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-10</integer>
		<key>knPA</key>
		<integer>-10</integer>
		<key>knPHA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knRAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-10</integer>
	</dict>
	<key>knReph</key>
	<dict>
		<key>@MMK_R_knE</key>
		<integer>-40</integer>
		<key>@MMK_R_knKHA</key>
		<integer>-80</integer>
		<key>knA</key>
		<integer>-20</integer>
		<key>knAA</key>
		<integer>-20</integer>
		<key>knAI</key>
		<integer>-50</integer>
		<key>knAnusvara</key>
		<integer>-20</integer>
		<key>knI</key>
		<integer>10</integer>
		<key>knLA</key>
		<integer>-10</integer>
		<key>knLLLA</key>
		<integer>-10</integer>
		<key>knNNA</key>
		<integer>-10</integer>
		<key>knNukta</key>
		<integer>-40</integer>
		<key>knRRA</key>
		<integer>-10</integer>
		<key>knUU</key>
		<integer>-10</integer>
		<key>knVisarga</key>
		<integer>-30</integer>
		<key>knYA</key>
		<integer>-30</integer>
	</dict>
	<key>knSA</key>
	<dict>
		<key>knGA</key>
		<integer>-10</integer>
	</dict>
	<key>knSHA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knA</key>
		<integer>-10</integer>
	</dict>
	<key>knSSA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-20</integer>
		<key>knA</key>
		<integer>-10</integer>
		<key>knvL</key>
		<integer>-10</integer>
	</dict>
	<key>knSeven</key>
	<dict>
		<key>knEight</key>
		<integer>-40</integer>
		<key>knFour</key>
		<integer>-60</integer>
		<key>knNine</key>
		<integer>-40</integer>
		<key>knSix</key>
		<integer>-10</integer>
	</dict>
	<key>knSix</key>
	<dict>
		<key>knEight</key>
		<integer>-30</integer>
		<key>knFour</key>
		<integer>-50</integer>
		<key>knNine</key>
		<integer>-40</integer>
		<key>knSix</key>
		<integer>-10</integer>
		<key>knThree</key>
		<integer>-10</integer>
	</dict>
	<key>knTA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knNYA</key>
		<integer>-10</integer>
	</dict>
	<key>knTHA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-10</integer>
	</dict>
	<key>knTTA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-20</integer>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knTTAc2</key>
	<dict>
		<key>@MMK_R_knBA</key>
		<integer>-30</integer>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knTTHA</key>
	<dict>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knThree</key>
	<dict>
		<key>knEight</key>
		<integer>-20</integer>
		<key>knFour</key>
		<integer>-60</integer>
		<key>knNine</key>
		<integer>-50</integer>
	</dict>
	<key>knTwo</key>
	<dict>
		<key>knFive</key>
		<integer>-10</integer>
		<key>knFour</key>
		<integer>-10</integer>
		<key>knNine</key>
		<integer>-20</integer>
		<key>knSeven</key>
		<integer>-10</integer>
		<key>knTwo</key>
		<integer>-20</integer>
	</dict>
	<key>knU</key>
	<dict>
		<key>@MMK_R_knE</key>
		<integer>-30</integer>
		<key>@MMK_R_knKHA</key>
		<integer>-30</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-10</integer>
		<key>knSA</key>
		<integer>-20</integer>
		<key>knSHA</key>
		<integer>-20</integer>
	</dict>
	<key>knUU</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-20</integer>
	</dict>
	<key>knVA</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-20</integer>
	</dict>
	<key>knVirama</key>
	<dict>
		<key>knAA</key>
		<integer>-20</integer>
	</dict>
	<key>knYA</key>
	<dict>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knYAc2</key>
	<dict>
		<key>knCHA</key>
		<integer>-20</integer>
	</dict>
	<key>knZero</key>
	<dict>
		<key>knFive</key>
		<integer>-10</integer>
		<key>knFour</key>
		<integer>-10</integer>
		<key>knNine</key>
		<integer>-10</integer>
		<key>knSeven</key>
		<integer>-20</integer>
		<key>knTwo</key>
		<integer>-30</integer>
	</dict>
	<key>knmAA</key>
	<dict>
		<key>knReph</key>
		<integer>-10</integer>
	</dict>
	<key>knmAI</key>
	<dict>
		<key>@MMK_R_knE</key>
		<integer>-20</integer>
		<key>@MMK_R_knvLL</key>
		<integer>-60</integer>
		<key>knReph</key>
		<integer>-40</integer>
	</dict>
	<key>knmAU</key>
	<dict>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knmI</key>
	<dict>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knmII</key>
	<dict>
		<key>@MMK_R_knE</key>
		<integer>-20</integer>
		<key>@MMK_R_knKHA</key>
		<integer>-30</integer>
		<key>knAI</key>
		<integer>-10</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knSA</key>
		<integer>-10</integer>
	</dict>
	<key>knmO</key>
	<dict>
		<key>knReph</key>
		<integer>-30</integer>
	</dict>
	<key>knmOO</key>
	<dict>
		<key>knReph</key>
		<integer>0</integer>
	</dict>
	<key>knmU</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-20</integer>
		<key>knReph</key>
		<integer>-30</integer>
	</dict>
	<key>knmUU</key>
	<dict>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knmvL</key>
	<dict>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knmvLL</key>
	<dict>
		<key>knReph</key>
		<integer>-10</integer>
	</dict>
	<key>knmvR</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-60</integer>
		<key>knI</key>
		<integer>-45</integer>
		<key>knReph</key>
		<integer>-30</integer>
	</dict>
	<key>knmvRR</key>
	<dict>
		<key>knReph</key>
		<integer>-40</integer>
	</dict>
	<key>knvL</key>
	<dict>
		<key>@MMK_R_knE</key>
		<integer>-10</integer>
		<key>@MMK_R_knKHA</key>
		<integer>-20</integer>
		<key>knReph</key>
		<integer>-10</integer>
		<key>knvRR</key>
		<integer>-10</integer>
	</dict>
	<key>knvLL</key>
	<dict>
		<key>knKA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knvR</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>knvRR</key>
	<dict>
		<key>@MMK_R_knvLL</key>
		<integer>-10</integer>
		<key>knGA</key>
		<integer>-10</integer>
		<key>knReph</key>
		<integer>-20</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>knA</key>
		<integer>-60</integer>
		<key>knAA</key>
		<integer>-50</integer>
		<key>knI</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
